<section class="login">
  <div class="login-content">
    <h2>Register</h2>
    <div>
      <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <div class="submit-div">
          <button class="submit-button" type="submit">Submit</button>
        </div>
      </form>
    </div>

    <div class="register">
      <a
        >Already have an account?&nbsp;&nbsp;<span
          onclick="location.href='/login'"
          >Log In</span
        ></a
      >
    </div>
  </div>
</section>
