<footer class="footer">
  <div class="footer-text">
    <a>Copyright</a>
    <a>&copy;</a>
    <a>&nbsp;2024 Oliwier Strek. All rights reserved.</a>
  </div>
  <p>strek.oliwier<a>@</a>gmail.com</p>
</footer>
