<header class="header">
  <a
    ><form action="/logout" method="GET">
      <button class="saying" type="submit">Dashboard</button>
    </form></a
  >
  <a
    ><form action="/logout" method="GET">
      <button class="login-button" type="submit">Log Out</button>
    </form></a
  >
</header>
