<header class="header">
  <a
    ><form action="/logout" method="GET">
      <button class="saying" type="submit">Sign Up and Explore</button>
    </form></a
  >
  <a><button class="__delete-button"></button></a>
</header>
