<section class="login">
  <div class="forbidden-content">
    <h2>UNAUTHORIZED ACTION</h2>
    <div>
      <div class="submit-div">
        <button class="submit-button" onclick="location.href='/login'">
          Return
        </button>
      </div>
    </div>
  </div>
</section>
