<script>
  function formatDate(dateString) {
    const date = new Date(dateString);
    const day = String(date.getDate() + 1).padStart(2, "0");
    const month = String(date.getMonth() + 1).padStart(2, "0");
    const year = date.getFullYear();
    return `${day}.${month}.${year}`;
  }

  document
    .getElementById("search-input")
    .addEventListener("keyup", async function () {
      const query = this.value;
      try {
        const response = await fetch(`/search?query=${query}`, {
          method: "GET",
        });
        if (response.ok) {
          const games = await response.json();
          const gameList = document.getElementById("game-list");
          gameList.innerHTML = "";

          if (games.length === 0) {
            const noResultsMessage = document.createElement("p");
            noResultsMessage.textContent = "No results found";
            gameList.appendChild(noResultsMessage);
          } else {
            games.forEach((game) => {
              const listItem = document.createElement("li");
              listItem.id = `game-${game.id}`;
              listItem.innerHTML = `
              <a>
                <h3>${game.title}</h3>
                <p>${game.platform}</p>
                <p>${formatDate(game.date_acquired)}</p>
              </a>
            `;
              gameList.appendChild(listItem);
            });
          }
        } else {
          document.getElementById("game-list").innerHTML =
            '<p id="no-res">No results found</p>';
        }
      } catch (error) {
        console.error("Error:", error);
        document.getElementById("game-list").innerHTML =
          "<p>Error fetching results</p>";
      }
    });
</script>
